body{
    background-color:#F5EDDC;
    }

h1{
    color:white;
    font-size:200;
    font-style:Italic;
    }

h2,h3{
        color:white;
        font-size:80;
        font-style:Italic;
        }

.topnav {
    background-color:#F3E0B5;
    overflow: hidden;
  }
  
  .topnav a {
    float:left;
    color: #f2f2f2;
    text-align: left;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 20px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color:#FFAE6D;
  }
  

